body { 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    font-family: sans-serif; 
    line-height: 1.5; 
    min-height: 100vh; 
    flex-direction: column; 
    margin: 0; 
} 

.Fertig {
    font-size: 125%;
}

input {
    border-radius: 15px; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); 
    padding: 10px 20px;
    border: 1px solid rgba(0, 0, 0, 0.322);
}

.zeit {
    font-size: 125%;
    text-align: left !important;
    width: 130px !important;
}


.status {
    color: currentColor;
    font-weight: bold;
    font-size: 75px;;
    background-color: #fff; 
    border-radius: 15px; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.13);
    padding: .25em .5em;
    margin-bottom: .25em;

}

.html-duration-picker-input-controls-wrapper {
    width: auto !important;
    padding-right: 1em;
}
.controls {
    left: 105px !important;
}
.scroll-btn {
    border-radius: 15px;
}
  
.main { 
    background-color: #fff; 
    border-radius: 15px; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); 
    padding: 10px 20px; 
    transition: transform 0.2s; 
    width: 500px; 
    height: 400px; 
    text-align: center; 
} 
  
.timer-circle { 
    border-radius: 50%; 
    width: 200px; 
    height: 200px; 
    margin: 20px auto; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    font-size: 50px; 
    color: currentColor; 
    border: 8px solid #705dcf; 
} 
  
.control-buttons { 
    margin-top: 75px;
    display: flex; 
    justify-content: space-evenly; 
} 
  
.control-buttons button, .Fertig { 
    background-color: #705dcf; 
    /*color: #fff;*/
    color: black; 
    border: none; 
    padding: 10px 20px; 
    border-radius: 5px; 
    cursor: pointer; 
} 
  
.control-buttons button:hover, .Fertig:hover { 
    background-color: #b5a9ff; 
    transition: background-color 0.1s; 
}

.control-buttons button:active, .Fertig:active {
    background-color: #634eec;
}

.control-buttons button {
    font-size: 125%;
}

@media (max-width: 1400px) {
    body {
        transform: scale(0.8);
        transform-origin: 0, 0; 
        max-height: 100vh;
    }

    .status {
        top: -2em !important;
    }
}

@media (max-width: 550px) {

    .status {
        color: black;
        font-weight: bold;
        font-size: 50px;
    }

    .main { 
        border-radius: 15px; 
        padding: 10px 20px; 
        width: 250px; 
        height: 250px; 
    } 

    .timer-circle { 
        border-radius: 50%; 
        width: 200px; 
        height: 200px; 
        margin: 20px auto;
        font-size: 25px; 
        border: 8px solid #705dcf; 
        margin-bottom: 1.5em;
    } 

    .control-buttons { 
        position: absolute;
        display: contents;
        margin-top: 20px;
        margin-left: 0;
        margin-right: 0;
    } 

    .control-buttons button {
        position: relative;
        font-size: 80%;
        margin: 0.1em;
        margin-top: 0.3em;
    }

    .Eingabe {
        position: absolute; 
        margin-top: 42em;
    }
    
  }


  @media (max-width: 250px) {

    .status {
        visibility: hidden;
    position: absolute;
    top: -9999px;        
    }

    .main { 
        border-radius: 15px; 
        padding: 10px 20px; 
        width: 150px; 
        height: 150px; 
    } 

    .timer-circle { 
        border-radius: 50%; 
        width: 100px; 
        height: 100px; 
        margin: 20px auto;
        font-size: 25px; 
        border: 8px solid #705dcf; 
        margin-bottom: 1.5em;
    } 

    .control-buttons { 
        visibility: hidden;
    position: absolute;
    top: -9999px;
    } 


    .Eingabe {
        visibility: hidden;
    position: absolute;
    top: -9999px;
    }
    
  }